@import "../../../styles/sizes";
@import "../../../styles/colors";

.container {
    width: 400px;
    padding: $bigOffset;
    position: fixed;
    top: calc(#{$mediumHeight} + #{$bigOffset});
    left: $bigOffset;
    z-index: 5;

    &.dark {
        background: $darkBlack;
        color: $white;
    }

    &.light {
        background: $white;
        color: $darkBlack;
    }
}