@import "src/styles/colors";
@import "src/styles/sizes";

$cardWidth: 400px;

.card {
    min-width: $cardWidth;
    padding: $bigOffset;
    position: relative;
    z-index: 2;
    border-radius: $mediumOffset;
    border: 2px solid transparent;

    &.edited {
        border: 2px dotted $markBlueLight;
    }

    .parent {
        padding: 0;
        margin-bottom: $smallOffset;
        border: 0 solid transparent !important;
        height: auto !important;
        color: $markBlueLight;
        font-size: 14px;

        &:hover {
            background: transparent !important;
            color: $markBlueLight !important;
            text-decoration: underline;
        }
    }

    &.light {
        background: $lightWhite;
        box-shadow: $defaultLightBoxShadow;
    }

    &.dark {
        background: $darkBlack;
        box-shadow: $defaultBoxShadow;
    }

    .title {
        text-transform: capitalize;
        margin-bottom: $mediumOffset;
        font-size: 20px;
    }

    .text {

    }
}

.cardType {
    &.blocks {
        width: 100%;

        .text {
            width: $cardWidth;
        }
    }

    &.three {
        width: $cardWidth;
    }
}