@import "src/styles/colors";
@import "src/styles/sizes";

$cardWidth: 400px;

.card {
    min-width: $cardWidth;
    padding: $bigOffset;
    position: relative;
    z-index: 2;

    &.light {
        background: $lightWhite;
        box-shadow: $defaultLightBoxShadow;
    }

    &.dark {
        background: $darkBlack;
        box-shadow: $defaultBoxShadow;
    }

    .title {
        text-transform: capitalize;
        margin-bottom: $mediumOffset;
        font-size: 20px;
    }

    .text {

    }
}

.cardType {
    &.width {
        width: 100%;

        .text {
            width: $cardWidth;
        }
    }

    &.parts {
        width: $cardWidth;
    }
}