@import "src/styles/sizes";
@import "src/styles/colors";

.container {
    position: relative;
    width: 100%;
    height: $smallHeight;
    display: flex;
    justify-content: center;

    .content {
        width: $contentWidth;
        margin: 0 $mediumOffset;
    }

    &.light {
        background: $white;
        color: $darkBlack;
    }

    &.dark {
        background: $darkBlack;
        color: $white;
    }
}