@import "src/styles/colors";

.button {
    outline: none;
    padding: 5px;

    transition: .2s;

    &.light {
        border: 1px solid $markBlueLight;
        background: $white;
        color: $darkBlack;
    }

    &.dark {
        border: 1px solid $markBlueLight;
        background: $darkBlack;
        color: $white;
    }
}