
@import "src/styles/sizes";
@import "src/styles/colors";

.container {
    width: $contentWidth;
    height: calc(100% - #{$mediumOffset * 2});
    margin: $mediumOffset;
    transition: 0s;

    &.dark {

    }

    &.light {

    }
}