@import "src/styles/colors";
@import "src/styles/sizes";

.button {
    display: inline-flex;
    pointer-events: none;
    user-select: none;
    opacity: .8;

    height: $mediumHeight;
    padding: $mediumOffset;
    transition: .05s;

    border: 1px solid transparent;
    border-radius: $mediumOffset;

    justify-content: center;
    align-items: center;


    &.active {
        cursor: pointer;
        pointer-events: auto;
        opacity: 1;
    }

    &.light {
        background: transparent;
        color: $darkBlack;
        border: 1px solid $lightGray;

        &.active {
            border: 1px solid $markBlueLight;

            &:hover {
                background: $markBlueLight;
                color: $white;
            }
        }
    }

    &.dark {
        background: transparent;
        color: $white;
        border: 1px solid $markBlueLight;

        &.active {
            border: 1px solid $markBlueLight;

            &:hover {
                background: rgba($markBlueLight, 1);
                color: $white;
            }
        }
    }
}