@import "src/styles/colors";

.container {
    display: inline;

    outline: none;
    border: none;
    background: transparent;
    resize: none;

    transition: background .1s;

    &.redactMode {
        background: rgba($markBlueLight, .1);
    }
}