@import "src/styles/sizes";
@import "src/styles/colors";

.container {
    display: flex;
    justify-content: space-between;

    padding-bottom: $smallOffset;
    margin-bottom: $smallOffset;

    .left,
    .right {
        & > * {
            margin-right: $smallOffset;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &.dark {
        border-bottom: 3px double $grayBlack;
    }

    &.light {
        border-bottom: 3px double $darkWhite;
    }

    .left {
        display: flex;
    }

    .right {
        display: flex;
    }
}