@import "src/styles/sizes";
@import "src/styles/colors";

.container {
    width: 100%;
    height: 100%;

    .scrollContainer {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    &.light {
        background: $white;
        color: $darkBlack;

        .scrollContainer {
            &::-webkit-scrollbar-track {
                background: $white;
            }

            &::-webkit-scrollbar-thumb {
                background: $markBlueLight;
            }
        }
    }

    &.dark {
        background: $darkBlack;
        color: $white;

        .scrollContainer {
            &::-webkit-scrollbar-track {
                background: $darkBlack;
            }

            &::-webkit-scrollbar-thumb {
                background: $markBlueLight;
            }
        }
    }
}