@import "src/styles/sizes";
@import "src/styles/colors";

.container {
    position: relative;
    width: 100vw;
    height: calc(100vh - #{$mediumHeight} - #{$smallHeight});
    overflow: scroll;

    &.light {
        background: $white;
        color: $darkBlack;
    }

    &.dark {
        background: $darkBlack;
        color: $white;
    }
}