@import "src/styles/sizes";
@import "src/styles/colors";

.container {
    width: 100vw;
    height: calc(100vh - #{$mediumHeight} - #{$smallHeight});
    overflow: hidden;

    .scrollContainer {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    &.light {
        background: $white;
        color: $darkBlack;
    }

    &.dark {
        background: $darkBlack;
        color: $white;
    }
}