@import "src/styles/sizes";
@import "src/styles/colors";

.container {
    position: relative;
    z-index: 1000;
    width: 100%;
    height: $mediumHeight;
    box-shadow: $defaultLightBoxShadow;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        width: $contentWidth;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &_left {
            display: flex;

            .logo {
                font-size: 20px;
                font-weight: bold;

                .link {
                    text-decoration: none;
                }
            }
        }

        &_right {
            display: flex;
        }
    }

    &.light {
        background: $white;
        color: $darkBlack;

        .link {
            color: $darkBlack;
        }
    }

    &.dark {
        background: $darkBlack;
        color: $white;

        .link {
            color: $white;
        }
    }
}