@import "src/styles/colors";
@import "src/styles/sizes";

$cardWidth: 400px;

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: $bigOffset;

    &.light {
        .card {
            background: $lightWhite;
            box-shadow: $defaultLightBoxShadow;
        }
    }

    &.dark {
        .card {
            background: $darkBlack;
            box-shadow: $defaultBoxShadow;
        }
    }

    .card {
        width: $cardWidth;
        padding: $bigOffset;
    }

    .points {
        display: flex;
    }
}