$black: #0c101c;
$darkBlack: #111625;
$grayBlack: #1d2131;
$lightBlack: #27283b;

$gray: #4f5569;
$lightGray: #868fab;
$darkWhite: #d7ddea;
$white: #e6eaf3;
$lightWhite: #f7f9fc;

$markRedDark: #422;
$markRedLight: #da65b8;
$markBlueDark: #215;
$markBlueLight: #77f;
$markGreenDark: #242;
$markGreenLight: #8ce88c;
$markOrangeDark: #541;
$markOrangeLight: #f72;
$markYellowDark: #8d8439;
$markYellowLight: #ffcf30;

$defaultBoxShadow: 0 4px 10px -4px rgb(0 0 0 / 100%);
$defaultLightBoxShadow: 0 2px 5px -3px rgb(0 0 0 / 20%);
$defaultLightBoxShadow_bottom_1px: 0 1px 1px 0px rgb(0 0 0 / 20%);

@keyframes loading {
    0% {
        opacity: .8;
    }
    50% {
        opacity: .4;
    }
    100% {
        opacity: .8;
    }
}