$contentWidth: 1200px;
$contentWidth_800max: 600px;
$contentWidth_600max: 400px;
$contentWidth_400max: 320px;

$smallOffset: 5px;
$mediumOffset: 10px;
$bigOffset: 20px;
$soBigOffset: 40px;

$smallHeight: 20px;
$mediumSmallHeight: 30px;
$mediumHeight: 40px;
$bigMediumHeight: 50px;
$bigHeight: 60px;